/*Base Styles*/
*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}  

/*Styling The Navbar*/
nav{
    display: inline-flex;
    border-radius: 0.8rem;
    padding: 1.6rem 2.4rem;
    justify-content: center;
    background-color: #1A0332;
}

/*Styling the links*/
a{
    display: inline-flex;
    align-items: center;
    padding: 0.4rem;
    border-radius: 0.4rem;
    margin: 0 0.4rem;
    cursor: pointer;
    transition: background-color 200ms linear, 
                opacity 300ms linear;
    color: #cbcbcb;
    text-decoration: none;
}
a .material-icons-outlined{
    font-size: 40px;
    transition: color 200ms linear;
}


/*Hover State*/
a:nth-child(1):hover{
    color: #11D244;
    background-color: #182A36;
}
a:nth-child(2):hover{
    color: #FF3A7A;
    background-color: #33093A;   
}

a:nth-child(3):hover{
    color: #9434FF;
    background-color: #1F033E;   
}
   
a:nth-child(4):hover{
    color: #0D34F5;
    background-color: #190744;   
}

/*Active State*/
a:active{
    opacity: 0.8;
    transition: opacity 200ms linear;
}