*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: -apple-system, sans-serif, 'Segoe UI', Roboto;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.jokes-wrapper{
    padding: 4rem;
    border-radius: 3.2rem;
    border: 3px solid rgba(112, 112, 112, 0.32);
    border-bottom-width: 7px;
    width: 500px;
}
.haha-icon{
    width: 4rem;
    height: 4rem;
    margin-bottom: 1.6rem;
}



.spinner {
    width: 75px;
    height: 75px;
    margin: 0;
    background: transparent;
    border-top: 4px solid #FFF4B7;
    border-right: 4px solid transparent;
    border-radius: 50%;
    -webkit-animation: 1s spin linear infinite;
    animation: 1s spin linear infinite;
}
.spinner.hide, p.hide{
    display: none;
}

          
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


#joke{
    margin-bottom: 3.2rem;
}
#joke p{
    font-size: 1.8rem;
    line-height: 1.5;
}


#get-joke{
    height: 6.4rem;
    display: inline-flex;
    padding: 1.6rem;
    border-radius: 10px;
    border: 3px solid #E0D6A1;
    background-color: #FFF4B7;
    border-bottom-width: 7px;
    font-size: 1.6rem;
    align-items: center;
    cursor: pointer;
}
#get-joke img{
    height: 2.4rem;
    width: 2.4rem;
    margin-right: 1rem;
}
#get-joke:active{
    background-color: #FEFAE2;
    border-bottom-width: 4px;

}